html{
  font-family: Helvetica, Arial, sans-serif;
  background-color:#263238;
  color: #FFFFFF;
  text-decoration-color: #FFFFFF;
}

*{
  text-decoration:none;
  margin:0;
}

a{
  color: #1976D2;
}

/*header*/
div.titleContainer{
  background-color: #ED1C24;
  border-top-style: solid;
  border-top-color: #B71C1C;
  box-shadow: 0 0 20px 2px #000000;
  position: fixed;
  width: 100%;
  padding: 2vh 1vw 2vh;
  border-top-width: 1.5vh;
  height: 12.5vh;
  font-size: 2vh;
}

div.navBar{
  padding-top: 1vh;
  float: center;
}

ul.navBar{
    list-style-type: none;
}

a.navButton{
    float: left;
    color: #FFFFFF;
    padding-right: 3vw;
    font-size: 2.5vh;
}

img.titleImage{
  padding: 0 2vw 4vh;
  padding-left: 0;
  float:left;
  width:10vh;
  height:10vh;
}

a.currentPage{
  text-decoration: underline;
}

a.navButton:hover{
  text-decoration: underline;
}


/*main page*/
div.mainText{
  font-size: 2.5vh;
  padding: 20vh 2vw 5vh;
}

h3.quote{
  padding-left: 1.5em
}


img.articleImage{
  width:20em;
  padding: 2.5vh 2.5vw 2.5vh;
}
/*articles*/
div.buttons{
    padding-top: 20vh;
    padding-bottom: 10vh
}

a.linkBox{
  color: #FFFFFF;
}

div.articleBox{
    box-shadow: 0 0 20px 2.5px #000000;
    width:75vw;
    height: 30vh;
    margin: 0 auto;
    margin-top: 5vh;
}

div.articleBoxImage{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:auto;
  height:20vh;
  max-width: none;
}

p.articleBoxText{
  width:auto;
  padding:2.5vh 2.5vw 2.5vh;
  height:5vh;
  background-color: #3F60B5;
  font-size: 1.75vh;
}
