html{
  font-family: Helvetica;
}

.titleContainer h1:after{
  content: url(./logo.png);
  width: 10px;
  height: 10px;
}

* {
    margin:0;
}

div.titleContainer{
  font-family: Helvetica;
  /*font-size: 25px;*/
  background-color: #1976d2;
  width: 100%;
  padding: 20px 20px 25px 40px;
  text-align: left;
  border-top-style: solid;
  border-top-color: #004ba0;
  border-top-width: 10px;
  margin: 0;
}

div.titleContainer h1{
  /*margin: 0px;*/
  color: #ffffff;
  font-weight: 100;
  width: 80%;
}

div.navBar{
  padding: 0px 0px 0px 0px;
  background-color: #1976d2;
  color: #1976d2;
  text-decoration: none;
  margin: 0;
}

div.navBar a{
  display: block;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 25%;
}

div.navBar a p{
  margin: 10px;
  color: #ffffff;
  font-style: normal;
  font-family: Helvetica;
  text-decoration: none;
  text-transform: none;
}
