/*global*/
html{
  font-family: Helvetica;
  background-color:#212121;
}

/*overrides everything*/
* {
  margin:0;
  text-decoration:none;
}

/*links*/
a{
  color: #1976d2;
  text-decoration: none;
}

/*titlebar*/
div.titleContainer{
  background-color: #1976d2;
  padding: 15px 0px 15px 0px;
  text-align: left;
  border-top-style: solid;
  border-top-color: #0D47A1;
  border-top-width: 10px;
  box-shadow: 0px 0px 40px 5px #000000;
  color: #FFFFFF;
  width: 100%;
  position: fixed;
}

/*navbar and buttons*/
div.navBar{
  padding-top: 10px;
  float: center;
  color: #1976d2;
}

/*just navbuttons*/
a.navButton{
  float: left;
  width: 7.5%;
  color: #FFFFFF;

}

/*navbutton hover*/
a.navButton:hover{
  text-decoration: underline;
  text-decoration-color: #FFFFFF;
}

/*body*/
div.mainText{
	color: #FFFFFF;
	padding: 20px;
  text-align: justify;
  padding-top: 160px;
}

/*title img*/
img.titleImage{
  padding-right:10px;
  padding-left: 20px;
  margin-bottom: 20px
}

p.currentPage{
  text-decoration: underline;
}
